.style{
  padding-left: 400px;
  padding-right: 400px;
}

.ul{
  padding-left: 400px;
  padding-right: 400px;
}

.first{
  background: #9ACD32;
  padding-left: 400px;
  padding-right: 400px;
}

.second{
  background: #DAA521;
  padding-left: 400px;
  padding-right: 400px;
}
